<!DOCTYPE html>
<html id="ng-app" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularJS Practice</title>
    <meta name="viewport" content="width=device-width">
    <meta name="" content-type="application/json">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css'>
	<link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="app.js"></script>
  </head>
  
  <body ng-app="jobBoard">
  <!-- new skin -->
  <div class="container" ng-controller="MyAppController">
    <h3>{{appTitle}}<br />
        <small>{{appDescription}}</small>
    </h3>    
    <p><code>NOTE: The jobs description has temporary blocked due to sanitize elements. As soon as I get back to this ...</code></p>
    <br />

	<div class="panel panel-default recipients">
        <div class="panel-heading">
			              <div class="input-group">
                <input ng-model="query" type="text" placeholder="Start searching your job" class="form-control"><span ng-click="clearFilter()" ng-disabled="query.length == 0" class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
              </div>

        </div>

        <div class="panel list-group">
			<a href="#" ng-repeat="job in jobs | filter: query" class="list-group-item animate-repeat" ng-model="collapsed" ng-click="collapsed=!collapsed"><span class="badge">{{job.location}}</span>{{job.title}}<br><small>{{job.created_at}} - {{job.type}}</small>
	        <div ng-show="collapsed"><span class="label label-info">{{job.url}}</span></div> 
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="panel-footer">
            <span class="text-muted">We have {{totalJobs}} responses from GitHub Job board</span>
        </div>
    </div>
</div>
  <!-- new skin -->

  <!-- Javascript libraries -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular-sanitize.js"></script>
  <script src="http://docs.angularjs.org/angular-sanitize-1.0.0.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  <!-- Javascript libraries -->
  </body>
</html>